<ul class="list-group">
<li class="list-group-item">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <legend>Log in</legend>
  <div class="form-inputs">
    <div class="input-group">
    <%= f.input :login %>
    </div>
    <div class="input-group">
    <%= f.input :password, required: false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</li>
</ul>