<!DOCTYPE html>
<html>
<head>
  <title><h1>FootyFinder</h1></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default"><h3><b>FootyFinder</b></h3></div>

      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
      <div class="btn btn-default"><%= link_to "Sign In", new_user_session_path %></div>
      <div class="btn btn-default"><%= link_to "Sign Up", new_user_registration_path %></div>
  
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
